img, div {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.screenheight{
        height: 100vh;
}

.card{
    position: relative;
    text-align: center;
}

.bottom_box{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/1.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.bottom_box_image{

    bottom: 0;
    /*left: 0;
    right: 0;*/
    max-width: 100%;
    max-height: 100%;
}

.card_text_container{
    position: absolute;
    margin-top: 50px;
    margin-bottom: auto;
    display: inline-block;
    left: 0;
    right: 0;
    width: 80%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

.card_text_container p{
    font-size: 14px;
    color: white;
    border-bottom: 20px;
    font-size-adjust: 0.58;
}

.heading{
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-bottom: 25px;
}

@media screen and (min-width: 426px){
    .card_text_container p{
        font-size: 1.2em;
        color: white;
        border-bottom: 20px;
        font-size-adjust: 0.58;
    }

    .heading{
        font-weight: bold;
        font-size: 2em;
        color: white;
        margin-bottom: 25px;
    }

    .card_text_container button{
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .card_text_container p{
        font-size: 18px;
        color: white;
        border-bottom: 20px;
        font-size-adjust: 0.58;
    }

    .heading{
        font-weight: bold;
        font-size: 3em;
        color: white;
        margin-bottom: 25px;
    }

    .card_text_container button{
        margin-top: 20px;
    }
}

.heading ul{
    margin: 0;
    padding: 0;
}

.heading ul li{
    vertical-align: top;
    display: inline-block;
}






.card1{
    background-color: #40b0e8;
}

.card2{
    background-color: rgb(104, 74, 204);
}

.card3{
    background-color: rgb(232, 111, 51);
}



.main-button{
    background-color: rgba(50, 50, 50, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    border-radius: 5px;
    color: white;
}

.main-button:hover{
    background-color: rgba(50, 50, 50, 0.5);
}
